{% load staticfiles %}

<html>
<head>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=114633248"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '114633248');
</script>

  <title>Contextual Bandit Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>

<body>
  <h2>Contextual Bandit Demo</h2>

  <div class="w3-content w3-display-container" style="max-width:800px">

    <a href="{% url 'artrecommender:joy' %}">
        <img class="mySlides" src="{% static 'images/joy.png' %}" style="width:100%">
    </a>
    <a href="{% url 'artrecommender:black_panther' %}">
      <img class="mySlides" src="{% static 'images/black_panther.png' %}" style="width:100%">
    </a>
    <a href="{% url 'artrecommender:pj_masks' %}">
      <img class="mySlides" src="{% static 'images/hero.png' %}" style="width:100%">
    </a>

    <div style="width:100%">
      <div class="arrow-left" onclick="plusDivs(-1)">&#10094;</div>
      <div class="arrow-right" onclick="plusDivs(1)">&#10095;</div>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
      <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
    </div>
  </div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIsndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-white";
}

</script>

</body>
</html>
